.gallery-tabs {
    text-align: center;
    margin-bottom: 20px;
    padding: 40px 0;
}
.tab-button {
    padding: 15px 25px;
    margin: 5px;
    border-radius: 30px;
    border: none;
    background: white;
    color: black;
    font-family: 'Bomstad Display' !important;
    cursor: pointer !important;
}
.tab-button.active {
    border-radius: 30px;
    padding: 15px 25px;
    background: #00A2E1;
    color: white;
    cursor: pointer !important;
}
.tab-top-block {
    padding: 30px 0;
}
.gallery-img {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease;
    margin-bottom: 20px;
    object-fit: cover;
    cursor: pointer !important;
}
.gallery-img img {
    width: 100%;
    display: block;
    border-radius: 20px;
    transition: transform 0.3s ease;
    filter: brightness(90%);
    cursor: pointer !important;
}
.gallery-img:hover img {
    transform: scale(1.1);
    filter: brightness(100%);
}
.gallery-img .title-block {
    padding: 15px;
    font-family: 'Bomstad Display' !important;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(6px);
    color: #fff;
    position: absolute;
    bottom: -70px;
    width: 100%;
    font-size: 18px;
    transition: all 0.5s ease;
}
.gallery-img:hover .title-block {
    bottom: 0;
    cursor: pointer !important;
}

.gallery-item a img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.col.gallery-item.video, .col.gallery-item.another {
    margin: 0;
}
